pipeline/PL_Stage_Authors.json
{
	"name": "PL_Stage_Authors",
	"properties": {
		"activities": [
			{
				"name": "DataFactorySecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://kv-firefile-adftest.vault.azure.net/secrets/datafactory/74f3dd6cf3c24946bc8fbbb3e20f06c2?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "keyvalue",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "DataFactorySecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "keyvaluevalue",
					"value": {
						"value": "@activity('DataFactorySecret').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"keyvaluevalue": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-01-27T10:55:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}